body {
  background:#000000;
}

#feed {
  font-family: "Helvetica", sans-serif;
  float: right;
  width: 75%;
  text-align: center;
  background: #000000;
  color:#99DDEE;
  opacity: .9;
  margin: 0px;
  padding: 10px;
}

.tweet {
  height: 50px;
}

#tracking {
  width: 20%;
  height: 640px;
  float: left;
  background: #99DDEE;
  margin: 0px;
  padding: 10px;
}

.big {
  font-size: 1.5em;
  font-family: "Helvetica", sans-serif;
  opacity:.7;
  color: #000000;
}

h3 {
  font-size: 1.5em;
  font-family: "Helvetica", sans-serif;
  opacity: .8;
  color:#000000;
}

h4 {
  font-size: 11px;
  font-family: "Helvetica", sans-serif;

}

p {
  font-size: 11px;
}

ul{
  list-style-type: none;
}

#tweet1 {
  display:none;
}